*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}
ol, ul, li{
    list-style: none;
}
body{
    height: 100vh;
    display: flex;
    background-image: url(./img/simon-berger-aZjw7xI3QAA-unsplash\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    width: 1804px;
    height: 978px;
    border: 7px solid rgba(255, 255, 255, 0.255);
    background-color: rgba(255, 255, 255, 0.141);
    border-radius: 40px;  
    backdrop-filter: blur(15px);
    flex-direction: column;
}

header{
    width: 140vh;
    display: flex;
    flex-direction: row;
    padding: 30px 20px 0px 70px;
    justify-content: space-between;
}
.espaco1{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: white;
}
.espaco2{
    display: flex;
    margin: 20px;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.login{
    width: 200px;
    height: 50px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 28px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.494);
    border: 3px solid rgba(255, 255, 255, 0.255);
    backdrop-filter: blur(15px);
}

.principal{
    height: 820px;
    width: 800px;
    padding-top: 50px;
    padding-left: 70px;
    gap: 90px;
    display: flex;
    flex-direction: column;
}
h1{
    width: 670px;
    height: 185px;
    font-size: 96px;
    color: white;
}

.descricao{
    display: flex;
    width: 800px;
    height: 66px;
    font-size: 26px;
    color: white;
    flex-direction: column;
}

.botaoComprar{
    display: flex;
    width: 258px;
    height: 700px;
    font-size: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.568);
    backdrop-filter: blur(15px);
}
footer{
    display: flex;
    height: 20px;
    width: 500px;
    padding: 90px 0px 60px 0px;
}

.redesSociais{
    display: flex;
    font-size: 26px;
    gap: 25px;
    padding-top: 30px;
}

.mainPrincipal{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.imagem{
    width: 650px;
    height: 650px;
    display: flex;
    position:absolute;
    right: 0;
    bottom: -30px;
    z-index: -1;
    
}

